@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-bold-webfont.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-bolditalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-thin-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-thinitalic-webfont.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/raleway-bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/raleway-medium.woff2") format("woff2");
}
