@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
       url("~@/assets/fonts/gilroy-extrabold-webfont.woff") format("woff"),
       url("~@/assets/fonts/gilroy-extrabold-webfont.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-light-webfont.woff2") format("woff2"),
       url("~@/assets/fonts/gilroy-light-webfont.woff") format("woff"),
       url("~@/assets/fonts/gilroy-light-webfont.ttf") format("ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-bold-webfont.woff2") format("woff2"),
       url("~@/assets/fonts/addingtoncf-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-bolditalic-webfont.woff2") format("woff2"),
       url("~@/assets/fonts/addingtoncf-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-thin-webfont.woff2") format("woff2"),
       url("~@/assets/fonts/addingtoncf-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Addington";
  src: url("~@/assets/fonts/addingtoncf-thinitalic-webfont.woff2") format("woff2"),
       url("~@/assets/fonts/addingtoncf-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/Raleway-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/Raleway-Bold.ttf") format("ttf"),
    url("~@/assets/fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/Raleway-Medium.woff2") format("woff2"),
    url("~@/assets/fonts/Raleway-Medium.ttf") format("ttf"),
    url("~@/assets/fonts/Raleway-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/Raleway-BoldItalic.woff2") format("woff2"),
    url("~@/assets/fonts/Raleway-BoldItalic.ttf") format("ttf"),
    url("~@/assets/fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("~@/assets/fonts/Raleway-MediumItalic.ttf") format("ttf"),
    url("~@/assets/fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
